/* Apply some styling to the material design card */
.mat-mdc-card {
  margin: 8px 0; 
  max-width: 100%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
  transition: background-color 0.3s ease, transform 0.3s ease; 
  border-radius: 8px; 
  border: 1px solid transparent; 
}

.mat-mdc-card:hover {
  background-color: #fafafa; 
  transform: translateY(-4px); 
  cursor: pointer;
}

.selected-card {
  background-color: #fafafa; 
  cursor: default;
}

.selected-card:hover {
  cursor: default;
}

.description-text {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3; 
  -webkit-box-orient: vertical;
  font-weight: 600; 
  color: #333; 
}

.inner-column {
  display: flex;
  flex-direction: column;
  padding: 16px; 
}

.header-section {
  display: flex;
  justify-content: space-between; 
  align-items: center; 
}

.news-name {
  font-weight: 700; 
  margin: 0;
}

.news-date {
  margin: 0;
  text-align: end;
}

.content-section {
  display: flex;
  flex-direction: row;
  margin-top: 12px; 
}

.news-synopsis {
  margin: 0px;
  width: 50%;
}

.news-shorthand {
  flex: 1; 
  margin: 0px;
  color: #555; 
  text-align: end;
}

.logo {
  height: auto;
  max-width: 1.5rem;
  max-height: 1.5rem;
  border-radius: 2rem;
  /* margin-right: 0rem; */
  margin-left: 14rem;
}

.organization-section {
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center;
  margin: 0px;
  width: 50%;
}

@media (prefers-color-scheme: dark) {
  /* Dark mode styles */
  body {
    background-color: #121212; 
    color: #ffffff; 
  }

  .mat-mdc-card {
    background-color: #1e1e1e; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); 
    border-color: #333; 
  }

  .mat-mdc-card:hover,
  .selected-card,
  .selected-card:hover {
    background-color: #333; 
  }

  .news-name {
    color: #ffffff; 
  }

  
  .news-date {
    color: #bbbbbb; 
  }
}